Source: ros-bouncy-turtlebot2-follower
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-bouncy-ament-cmake, ros-bouncy-geometry-msgs, ros-bouncy-rclcpp, ros-bouncy-sensor-msgs, ros-bouncy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-bouncy-turtlebot2-follower
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-bouncy-astra-camera, ros-bouncy-geometry-msgs, ros-bouncy-launch, ros-bouncy-rclcpp, ros-bouncy-ros2run, ros-bouncy-sensor-msgs, ros-bouncy-turtlebot2-drivers, ros-bouncy-ros-workspace
Description: A simple follower using centroid in depth images.
