Source: ros-ardent-turtlebot2-cartographer
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-ardent-ament-cmake, ros-ardent-ament-lint-auto, ros-ardent-ament-lint-common, ros-ardent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-ardent-turtlebot2-cartographer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-ardent-ament-index-python, ros-ardent-astra-camera, ros-ardent-cartographer-ros, ros-ardent-depthimage-to-laserscan, ros-ardent-depthimage-to-pointcloud2, ros-ardent-joy, ros-ardent-launch, ros-ardent-ros2run, ros-ardent-teleop-twist-joy, ros-ardent-tf2-ros, ros-ardent-turtlebot2-drivers, ros-ardent-ros-workspace
Description: Launch files for turtlebot2 cartographer demo
